body{
    background-color: hsl(30, 38%, 92%);
}
article{
    border-radius: 7px;
    
    background-color: hsl(0, 0%, 100%);
    display: flex;/*haven't learnet about us yet , helop taken to make the image and content side by side */
    width: 33%;
    height: 52%;
    margin: 7% 35%;
}
p.perfume{
    font-family: Montserrat;
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 13px;
}
p.title{
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
    font-size: 26px;
    font-weight: 700;
}
p.body{
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
    font-size: 12px;
}
div.content{
    display: inline-block;
    margin: 14px;
    width: 12em;
}
p.current{
    display: inline-block;
    font-family: Fraunces;
    color: #037a4e;
    font-weight: 700;
    font-size: 26px;
    margin: 12px;
}
p.old{
    display: inline-block;
    font-family: Fraunces;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 12px;
}
img{
    border-radius: 7px;
    display: inline-block;
    max-width: 260px;
}
section a{
    text-decoration: none;
    border-radius: 7px;
    font-family: Montserrat;
    display: inline-block;
    background-color:#037a4e;
    color: antiquewhite;
    text-align: center;
    font-weight:700;
    font-size: 12px;
    padding: 9px 43px;
    margin:2px 4px;
}
section a:hover{
    background-color:#003c26;
}